
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: darkslategray;
  font-family: arial;
}
.parallax {
  font-size: 200%;
}
/* Add some padding to force scrollbars*/
.para_layer {
  padding: 100vh 0;
}
/*Center content in the parallax layer*/
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax_group {
  position: relative;
  height: 50vh;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}
.persp-view {
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

/*scale adjust formula: scale = 1 + (tranzlateZ * -1) / perspective */
.parallax_layer-fore {
  transform: translateZ(60px) scale(.8);
  z-index: 1;
}
.parallax_layer-base {
  transform: translateZ(0);
  z-index: 4;
}
.parallax_layer-back {
  /* transform: translateZ(-300px) scale(2); */
  transform: translateZ(-1500px) scale(6);
  z-index: 3;
}
.parallax_layer-deep {
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

.other-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: teal;
  color: rgb(31, 51, 51);
}

#group1 { z-index: 1; height: 100vh;}
#group1 .parallax_layer-base {  
  color: green;
  font-family: sans-serif;  
  font-size: 2.5em;
}
#group1 .parallax_layer-back {  
  background-image: url("./daylight-environment-forest-idyllic-459225.jpg");
  background-size: cover;
  background-position: center;
  /* margin-top: -25vh; */
  height: 100vh;
}
#group2 { z-index: 3;}
#group2 .parallax_layer-fore {  
  height: 50vh;
  /* border: 3px solid yellow; */
}
#group2 .parallax_layer-base {  
  background-image: url("./panoramic-view-of-city-lit-up-at-night-311012.jpg");
  background-size: cover;
  background-position: center;
  /* margin-top: 25vh; */
  height: 50vh;
}
#group3 { z-index: 3;}
#group3 .parallax_layer-fore {  
  height: 50vh;
  /* border: 3px solid yellow; */
}
#group3 .parallax_layer-base {  
  background-image: url("./green-grass-field-near-body-of-water-3625709.jpg");
  background-size: cover;
  background-position: center; 
  height: 50vh;
}
#group4 { z-index: 3;}
#group4 .parallax_layer-fore {  
  height: 50vh;
  /* border: 3px solid yellow; */
}
#group4 .parallax_layer-base {  
  background-image: url("./bright-countryside-dawn-daylight-302804.jpg");
  background-size: cover;
  background-position: center; 
  height: 50vh;
}
#group5 { z-index: 3;}
#group5 .parallax_layer-fore {  
  height: 50vh;
  /* border: 3px solid yellow; */
}
#group5 .parallax_layer-base {  
  background-image: url("./flight-landscape-nature-sky-36717.jpg");
  background-size: cover;
  background-position: center; 
  height: 50vh;
}
#group6 { z-index: 3;}
#group6 .parallax_layer-fore {  
  height: 50vh;
  /* border: 3px solid yellow; */
}
#group6 .parallax_layer-base {  
  background-image: url("./aerial-view-of-seashore-near-large-grey-rocks-853199.jpg");
  background-size: cover;
  background-position: center; 
  height: 50vh;
}
#group7 { z-index: 3;}
#group7 .parallax_layer-fore {  
  height: 50vh;
  /* border: 3px solid yellow; */
}
#group7 .parallax_layer-base {  
  background-image: url("./river-between-green-leafed-tree-1766838.jpg");
  background-size: cover;
  background-position: center; 
  height: 50vh;
}


